body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
nav {
    display: flex;
    justify-content: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #421717;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
.content {
    margin-top: 50px; /* Ajusta a margem superior para acomodar a barra de menu */
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
}
img {
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 200px;
    height: auto;
}
#taskInput {
    display: block;
    margin: 0 auto;
    width: 80%; /* Ajuste conforme necessário */
    padding: 10px;
    font-size: 16px;
}

button {
    display: block;
    margin: 10px auto; /* Adiciona um espaçamento entre o input e o botão */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #CB3538;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #CB3538;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

footer {
    background-color: #333;
    color: #fff;
    font-size: 10px;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
